In [2]:
import numpy as np
import pandas as pd
import math

# 1) How-to-count-distance-to-the-previous-zero 
# count the difference of the distance from the previous zero 

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
idx = df.index[df['X']].tolist()
print(idx)
to_zero = [(idx[i::-1]+[0]).index(0) for i in range(len(idx))]
print(to_zero)

[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]
[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

In [3]:
# 2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. 
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
print(dti)
s = pd.Series(np.random.rand(len(dti)), index=dti)
s

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

2015-01-01    0.067404
2015-01-02    0.717068
2015-01-05    0.737879
2015-01-06    0.594962
2015-01-07    0.257665
2015-01-08    0.378063
2015-01-09    0.488488
2015-01-12    0.747761
2015-01-13    0.784871
2015-01-14    0.950577
2015-01-15    0.268621
2015-01-16    0.333141
2015-01-19    0.353309
2015-01-20    0.539212
2015-01-21    0.577135
2015-01-22    0.067474
2015-01-23    0.109236
2015-01-26    0.300115
2015-01-27    0.132556
2015-01-28    0.587071
2015-01-29    0.672996
2015-01-30    0.739342
2015-02-02    0.239048
2015-02-03    0.011251
2015-02-04    0.258553
2015-02-05    0.309863
2015-02-06    0.100477
2015-02-09    0.552967
2015-02-10    0.905657
2015-02-11    0.867634
                ...
2015-11-20    0.428222
2015-11-23    0.616954
2015-11-24    0.394315
2015-11-25    0.180534
2015-11-26    0.983369
2015-11-27    0.704657
2015-11-30    0.938007
2015-12-01    0.274703
2015-12-02    0.045972
2015-12-03    0.025851
2015-12-04    0.324291
2015-12-07    0.839642
2015-12-08    0.637505
2015-12-09    0.674432
2015-12-10    0.824861
2015-12-11    0.773205
2015-12-14    0.337185
2015-12-15    0.632491
2015-12-16    0.973107
2015-12-17    0.670127
2015-12-18    0.865128
2015-12-21    0.836758
2015-12-22    0.636955
2015-12-23    0.808036
2015-12-24    0.073060
2015-12-25    0.024226
2015-12-28    0.223391
2015-12-29    0.771281
2015-12-30    0.817378
2015-12-31    0.319794
Freq: B, Length: 261, dtype: float64

In [4]:
# 3) Find the sum of the values in s for every Wednesday.
# Day of the week 0 = Monday, 1 = Tuesday, 3 = Wednesday, ect...
s[dti.weekday == 2].sum()

23.563035200145535

In [5]:
# 4) Average For each calendar month
print(s.groupby(dti.month).mean())

1     0.472952
2     0.382280
3     0.572188
4     0.408842
5     0.540745
6     0.520440
7     0.581907
8     0.542194
9     0.515570
10    0.548923
11    0.496562
12    0.539538
dtype: float64

In [6]:
# 5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.
scal_mon=pd.Series(s.groupby(dti.month).max().values,index=s.groupby(dti.month).idxmax())
print(scal_mon)

# Find the highest for every 4 consecutive months. 
# Form windows with 4 consecutive months and find the maximum from every window. 
print('Dates for which the highest value occurred in 4 consecutive months:')
for i in range(9):
    highval=scal_mon[i:4+i]
    print(highval.idxmax().date())

2015-01-14    0.950577
2015-02-10    0.905657
2015-03-20    0.901050
2015-04-06    0.986265
2015-05-29    0.987983
2015-06-15    0.972422
2015-07-21    0.965453
2015-08-12    0.938788
2015-09-18    0.910509
2015-10-20    0.994667
2015-11-26    0.983369
2015-12-16    0.973107
dtype: float64
Dates for which the highest value occurred in 4 consecutive months:
2015-04-06
2015-05-29
2015-05-29
2015-05-29
2015-05-29
2015-06-15
2015-10-20
2015-10-20
2015-10-20